<div class="dropdown" id="dropdownMultiselect">
    <button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="dropdownMenu" ng-class="{'disabled': disabled}" ng-click="dropdownToggle()" type="button">
        <span class="pull-left" ng-if="!hasText">Select
        </span>
        <span class="pull-left" ng-transclude></span>
        <div class="pull-right">
            <span class="badge" ng-if="isBadgeVisible">
                {{model.length}}</span>
            <span class="caret"></span>
        </div>
    </button>
    <ul aria-labelledby="dropdownMenu" class="dropdown-menu">

        <li>
            <div>
                <ul class="dropdown-static ">
                    <li>
                        <a ng-click="selectAll()">
                            <i class="glyphicon glyphicon-ok"></i> Select All</a>
                    </li>
                    <li>
                        <a ng-click="unSelectAll()">
                            <i class="glyphicon glyphicon-remove"></i> Unselect All</a>
                    </li>
                    <div class="filter-parent" id="search" ng-if="isFilterVisible">
                        <label for="filter-by">
                            <i class="glyphicon glyphicon-search"></i>
                        </label>
                        <div>
                            <input class="form-control" id="filter-by" ng-model="$parent.option" placeholder="Search" tabindex="1">
                        </div>
                    </div>
                </ul>
            </div>
        </li>
        <li>
            <ul class="dropdown-scrollable" ng-class="{'dropdown-height': defaultHeight, 'hasfilter': isFilterVisible === true}">
                <li ng-repeat="option in options | filter: option">
                    <a ng-click="setSelectedItem()">
                        {{option[leftKey]}}
                        {{divider}}
                        {{option[rightKey]}}
                        <span class="pull-right" ng-class="isChecked(option[trackByKey], dropdownType)"></span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>