<!-- <page-nav-tabs navtabs="navtabs" location="Home"></page-nav-tabs> -->

<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates
            <span class="text-danger">nested</span>
            views.</p>

        <a class="btn btn-primary" ng-click="setTab(List)" ui-sref="main.home.list">List</a>
        <a class="btn btn-danger" ng-click="setTab(Paragraph)" ui-sref="main.home.paragraph">Paragraph</a>
    </div>

    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates
            <span class="text-danger">nested</span>
            views.</p>

        <a class="btn btn-primary" ng-click="setTab(List)" ui-sref="main.home.list">List</a>
        <a class="btn btn-danger" ng-click="setTab(Paragraph)" ui-sref="main.home.paragraph">Paragraph</a>
    </div>

    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates
            <span class="text-danger">nested</span>
            views.</p>

        <a class="btn btn-primary" ng-click="setTab(List)" ui-sref="main.home.list">List</a>
        <a class="btn btn-danger" ng-click="setTab(Paragraph)" ui-sref="main.home.paragraph">Paragraph</a>
    </div>

    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates
            <span class="text-danger">nested</span>
            views.</p>

        <a class="btn btn-primary" ng-click="setTab(List)" ui-sref="main.home.list">List</a>
        <a class="btn btn-danger" ng-click="setTab(Paragraph)" ui-sref="main.home.paragraph">Paragraph</a>
    </div>

    <div class="jumbotron text-center">
        <h1>The Homey Page</h1>
        <p>This page demonstrates
            <span class="text-danger">nested</span>
            views.</p>

        <a class="btn btn-primary" ng-click="setTab(List)" ui-sref="main.home.list">List</a>
        <a class="btn btn-danger" ng-click="setTab(Paragraph)" ui-sref="main.home.paragraph">Paragraph</a>
    </div>

    <!-- <div ui-view></div> -->
</div>